  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  header{
    background-color: #4CAF50;
    padding: 40px;
    text-align: center;
    font-size: 35px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: auto;
  }

  @media screen and (max-width: 600px) {
    header{
      padding: 10px;
      font-size: 20px;
    }
  }