<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contact us </title>
</head>
<body>
  <header>
    <h1>Plz Give some details here</h1>
  </header>
  <main>
    <form action="/contact" method="POST">
    <input type="text" name="name" placeholder="enter user name"><br>
    <input type="email" name="email" placeholder="enter user email"><br>
    <input type="submit">
    </form>
  </main>
</body>
</html>