<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Sucess Page </title>
</head>
<body>
  <header>
    <h1>Register Complete Succesfully </h1>
    <a href="/host/add-home">Add Home</a>
  </header>
</body>
  <style>
    header{
      background-color: #007bff;
      padding: 20px;
      text-align: center;
      color: white;
    }
  </style>
</html>
<style>
  @media screen and (max-width: 600px) {
    header {
      padding: 10px;
      font-size: 20px;
    }
    
    h1 {
      font-size: 24px;
    }
    
    a {
      font-size: 16px;
    }
  }
</style>

